.header {
    background-color: white;
    background-image: url("/images/toptal_birds.png");
    background-repeat: repeat;
    background-size: contain;
    color: black;
    min-height: 400px;
    padding: 150px 20px; 
    padding-bottom: 50px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 4rem;
  }