.navbar {
  background: rgb(95, 123, 160);
  min-height: 40px;
  position: fixed;
  width: 100%;
  color: white;
  font-size: calc(10px + (24 - 10) * (100vw - 320px) / (1200 - 400));
  text-align: center;
  z-index: 99;
  white-space: nowrap;
}

.navbar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    margin: 0;
    width: 100%;
    list-style-type: none;
}
  
.navbar a {
    text-decoration: none;
    color: white;
  }